 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="main-grids">
				<div class="top-grids">
					<div class="recommended-info">
						<h3>Recent Assignment</h3>
					</div>
					<% @recentAssignments.each do |assignment| %>
						<div class="col-md-4 resent-grid recommended-grid slider-top-grids">
							<% if assignment.aimages.count > 0 %>
								<div class="resent-grid-img recommended-grid-img">
									<%= link_to image_tag(assignment.aimages.first.image.url(:medium),alt: assignment.topic),assignment %>
									<div class="time">
										<p><%= assignment.aimages.count %></p>
									</div>
									<div class="clck">
										<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
									</div>
								</div>
							<% end %>
							<div class="resent-grid-info recommended-grid-info">
								<h3><%=link_to assignment.topic,assignment, class:"title title-info" %></h3>
								<ul>
									<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
									<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
								</ul>
							</div>
						</div>
					<% end %>
					<div class="clearfix"> </div>
				</div>
				<div class="recommended">
					<div class="recommended-grids">
						<div class="recommended-info">
							<h3>Recommended</h3>
						</div>
						<% @recentAssignments.each do |assignment| %>
							<div class="col-md-3 resent-grid recommended-grid">
								<% if assignment.aimages.count > 0 %>
								<div class="resent-grid-img recommended-grid-img">
									<%= link_to image_tag(assignment.aimages.first.image.url(:small),alt: assignment.topic),assignment %>
									<div class="time small-time">
										<p><%= assignment.aimages.count %></p>
									</div>
									<div class="clck small-clck">
										<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
									</div>
								</div>
								<%end %>
								<div class="resent-grid-info recommended-grid-info video-info-grid">
									<h5><%=link_to assignment.topic,assignment, class:"title" %></h5>
									<ul>
										<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
										<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
									</ul>
								</div>
							</div>
						<% end %>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="recommended">
					<div class="recommended-grids">
						<div class="recommended-info">
							<h3>Sports</h3>
						</div>
						<% @recentAssignments.each do |assignment| %>
							<div class="col-md-3 resent-grid recommended-grid">
								<% if assignment.aimages.count > 0 %>
									<div class="resent-grid-img recommended-grid-img">
										<%= link_to image_tag(assignment.aimages.first.image.url(:small),alt: assignment.topic),assignment %>
										<div class="time small-time">
											<p><%= assignment.aimages.count %></p>
										</div>
										<div class="clck small-clck">
											<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
										</div>
									</div>
								<% end %>
								<div class="resent-grid-info recommended-grid-info video-info-grid">
									<h5><%=link_to assignment.topic,assignment, class:"title" %></h5>
									<ul>
										<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
										<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
									</ul>
								</div>
							</div>
						<% end %>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
