 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="main-grids">
				<div class="recommended">
					<div class="recommended-grids">
			<% if current_user && current_user.college_id.present? %>
						<div class="recommended-info">
							<h3>Recommended</h3>
						</div>
						<% @rassignments.each do |assignment| %>
							<div class="col-md-3 resent-grid recommended-grid">
								<div class="resent-grid-img recommended-grid-img">
								<% if assignment.aimages.count > 0 %>
									<%= link_to image_tag(assignment.aimages.first.image.url(:small),alt: assignment.topic),assignment %>
								<%else %>
									<%= link_to image_tag("defaultcoverimage",alt: assignment.topic),assignment %>
								<% end %>
									<div class="time small-time" title="Pages Count">
										<p><%= assignment.aimages.count %></p>
									</div>
									<div class="clck small-clck" title="Pages">
										<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
									</div>
								</div>
								<div class="resent-grid-info recommended-grid-info video-info-grid">
									<h5><%=link_to assignment.topic,assignment, class:"title",title: assignment.topic %><br></h5>
									<small>Submitted <strong> <%=time_ago_in_words(assignment.created_at) %> ago</strong></small>
									<ul>
										<li><p class="author author-info"><%= link_to assignment.user.phname,  controller:"users",action:"show",id:assignment.user_id,class:"author"%></p></li>
										<li class="right-list"><p class="views views-info"><strong><%= assignment.impressionist_count %></strong> views</p></li>
									</ul>
								</div>
							</div>
						<% end %>
						<div class="clearfix"> </div>
					</div>
				</div>
				<hr>
				<div class="recommended">
					<div class="recommended-grids">
						<div class="recommended-info">
			<% end %>
							<h3>Assignments</h3>
						</div>
						<% @recentAssignments.each do |assignment| %>
							<div class="col-md-3 resent-grid recommended-grid">
								<div class="resent-grid-img recommended-grid-img">
									<% if assignment.aimages.count > 0 %>
										<%= link_to image_tag(assignment.aimages.first.image.url(:small),alt: assignment.topic),assignment %>
									<%else %>
										<%= link_to image_tag("defaultcoverimage",alt: assignment.topic),assignment %>
									<% end %>
									<div class="time small-time" title="Pages Count">
										<p><%= assignment.aimages.count %></p>
									</div>
									<div class="clck small-clck" title="Pages">
										<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
									</div>
								</div>
								<div class="resent-grid-info recommended-grid-info video-info-grid">
									<h5><%=link_to assignment.topic,assignment, class:"title",title: assignment.topic %><br></h5>
									<small>Submitted <strong> <%=time_ago_in_words(assignment.created_at) %> ago</strong></small>
									<ul>
										<li><p class="author author-info"><%= link_to assignment.user.phname,  controller:"users",action:"show",id:assignment.user_id,class:"author"%></p></li>
										<li class="right-list"><p class="views views-info"><strong><%= assignment.impressionist_count %></strong> views</p></li>
									</ul>
								</div>
							</div>
						<% end %>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			
