<div class='form-container'>
	<%= simple_form_for(@examnote,html:{multipart: true}) do |f|%>

		<div class='form-item'>
			<div class='data-header'>
				<span class='header-name'>Topic:</span>
			</div>
			<div class='form-data'>
				<%= f.input :topic,label: false,placeholder:"What is your Note About?"%>	
			</div>
		</div>
		<div class='form-item'>
			<div class='data-header'>
				<span class='header-name'>Subject:</span>
				<span class="header-tip">If Subject not Found,add Subject <%= link_to "here",new_subject_path %></span>
			</div>
			<div class='form-data'>
				<%=f.input :subject_id,collection: Subject.all.order("name ASC"),prompt: "Choose Subject of Note",label:false	%>
			</div>
		</div>
		<div class='form-item'>
			<div class='data-header'>
				<span class='header-name'>College:</span>
				<span class='header-tip'>If Institute not Found,add Your Institute <%=link_to "here",new_college_path %></span>
			</div>
			<div class='form-data'>
				<%=f.input :college_id,collection: College.all.order("name ASC"),label:"Institute",prompt:"Choose Institute related to Note",label: false	%>
			</div>
		</div>
		<div class='form-item'>
			<div class='data-header'>
				<span class='header-name'>Description:</span>
				<span class='header-tip'>Describe above Note</span>
			</div>
			<div class='form-data'>
				<%=f.input :description, label: false, placeholder:"Describe your Note"	%>
			</div>
		</div>
		<div class='form-item'>
			<div class='form-data'>
				<div id='image-preview-box'>	
				<% if @check == 1 %>
					<% if @examnote.eimages.count > 0%>
					
						<% @examnote.eimages.each do |eimage| %>

							<div class="image-preview" style="background: url(<%=eimage.image.url(:small) %>) no-repeat; background-size: 150px 200px;  ">
								<!--  Ajax call and Jquery remove function for destroyimage_path -->
								<%= link_to destroyeimage_path(id: @examnote.id,imageid: eimage.id),remote: true do%>
										<span class="delete-image">
											<svg fill="#0288d1" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">					    <path d="M15 16h4v2h-4zm0-8h7v2h-7zm0 4h6v2h-6zM3 18c0 1.1.9 2 2 2h6c1.1 0 2-.9 2-2V8H3v10zM14 5h-3l-1-1H6L5 5H2v2h12z"></path><path d="M0 0h24v24H0z" fill="none"></path>					
											</svg>
										</span>
								<% end %>
								

								<input type="file" name="examnote[eimages_attributes][<%= eimage.id %>][image]" style="display: none">
							</div>
				
						<% end%>
					<% end %>							
				<% end %>
				</div>
			</div>
			<div class='data-header'>
				<span id='add-image' onclick='addImage("examnote","eimages")' title="Add Image">
					<svg fill="#2196F3" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
					    <circle cx="12" cy="12" r="3.2"/>
					    <path d="M9 2L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2h-3.17L15 2H9zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"/>
					    <path d="M0 0h24v24H0z" fill="none"/>
					</svg>
				</span>
			</div>

		</div>
		<div class='form-actions'>
			<%=f.submit "#{@action}",class:"btn btn-primary form-actions-btn form-submit" %>
			<%= link_to :back do %>  
				<span class="btn btn-primary form-actions-btn form-cancel">Cancel</span>
			<% end %>
		</div>
		
	<% end %>
</div>

