  <div class='form-container'> 
  <%= simple_form_for(@user, html:{multipart: true}) do |f|%>

    <div class="form-row">
        <div class="form-item">
          <div class='data-header'>
            <span class='header-name'>Name</span>
          </div>
          <div class='form-data'>
            <%=f.input :name, label:false,placeholder:"Your name"%>  
          </div>
        </div>
        <div class='form-item'>
          <div class='data-header'>
            <span class='header-name'>Publication Name</span>
            <span class="header-tip">Name of your publication</span>
          </div>
          <div class='form-data'>
            <%=f.input :phname,label:false,placeholder:"Publication Name" %>
          </div>
        </div>
    </div>
    <div class='form-item'>
      <div class='data-header'>
        <span class='header-name'>Institute Name</span>
        <span class='header-tip'>If Institute not Found,add Your Institute via Upload Link Above</span>
      </div>
      <div class='form-data'>
        <%=f.input :college_id,collection: College.all,prompt:"Choose Institute related to you",label: false %>
      </div>
    </div>
    <div class='form-item'>
      <div class='data-header'>
        <span class='header-name'>Intro</span>
        <span class='header-tip'>A short description about your publication</span>
      </div>
      <div class='form-data'>
        <%=f.input :intro,label:false %>
      </div>
    </div>
    <div class='form-item'>
      <div class='data-header'>
        <span class='header-name'>Description</span>
        <span class='header-tip'>A brief description of your publication</span>
      </div>
      <div class='form-data'>
        <%=f.input :description,label:false %>
      </div>
    </div>

    <div class='form-row'>

      <div class='form-item' style="display: inline-block;">
        <div id='avatar' class='data-header' onclick='addUserImage(this)'>
          <span class='add-image' title="Add Profile Pic">
            <svg fill="#2196F3" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="3.2"/>
                <path d="M9 2L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2h-3.17L15 2H9zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </span>
          <span class="header-name">Add Avatar</span>
        </div>
        <div class='form-data'>
          <div class='image-preview-box'>  
          </div>
        </div>
      </div>

      <div class='form-item' style="display: inline-block;">
        <div id='cover-pic' class='data-header' onclick="addUserImage(this)">
          <span class='add-image' title="Add Cover Pic">
            <svg fill="#2196F3" height="48" viewBox="0 0 24 24" width="48" xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="3.2"/>
                <path d="M9 2L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2h-3.17L15 2H9zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"/>
                <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </span>
          <span class="header-name">Add Cover Pic</span>
        </div>
        <div class='form-data'>
          <div class='image-preview-box'>  
          </div>
        </div>
      </div>

    </div>

    <div class='form-row'>
        <div class='form-item'>
          <div class='data-header'>
            <span class='header-name'>Facebook</span>
          </div>
          <div class='form-data'>
            <%=f.input :fblink,label:false,hint:"Optional",placeholder:"Link to your Facebook Page" %>
          </div>
        </div>
        <div class='form-item'>
          <div class='data-header'>
            <span class='header-name'>Twitter</span>
          </div>
          <div class='form-data'>
            <%=f.input :twitterlink,label:false,hint:"Optional",placeholder:"Link to your Twitter Handle" %>
          </div>
        </div>
         <div class='form-item'>
          <div class='data-header'>
            <span class='header-name'>Google</span>
          </div>
          <div class='form-data'>
            <%=f.input :googlelink,label:false,hint:"Optional",placeholder:"Link to your Google+ Page" %>
          </div>
        </div>
         <div class='form-item'>
          <div class='data-header'>
            <span class='header-name'>Pinterest</span>
          </div>
          <div class='form-data'>
            <%=f.input :pinterestlink,label:false,hint:"Optional",placeholder:"Link to your Pinterst Account"  %>
          </div>
        </div>
         <div class='form-item'>
          <div class='data-header'>
            <span class='header-name'>Instagram</span>
          </div>
          <div class='form-data'>
            <%=f.input :instagramlink,label:false,hint:"Optional",placeholder:"Link to your Instagram Account" %>
          </div>
        </div>
    </div>

    <div class='form-actions'>
      <%=f.submit class:"btn btn-primary form-actions-btn" %>
      <%= link_to :back do %>  
        <span class="btn btn-primary form-actions-btn form-cancel">Cancel</span>
      <% end %>
    </div>
  <% end %>    
</div>


