<div class="developers">
	<% if @user.cover.url == "/covers/original/missing.png" %> 
		<div class="phouse-banner"style="background: url("customcover") no-repeat 0px 0px !important">
	<% else %>
		<div class="phouse-banner" style="background: url(<%=@user.cover.url(:thumb)%>) no-repeat 0px 0px !important">
	<% end %>
	   <!-- container -->
		<div class="container">
			<div class="phouse-short-info">
				<% if @user.avatar.url == "/avatars/original/missing.png" %>
                	<%= image_tag("customprofile",width:"150em",height:"200em",alt:@user.name) %>
                <%else%>
                	<%= image_tag(@user.avatar.url,width:"150em",height:"200em",alt:@user.name) %>
                <% end %>
				<h3><strong><%= @user.phname %></strong></h3>
				<p>"<em><%= @user.intro %></em>"</p>
			</div>
		</div>
		<!-- //container -->
	</div>
    <div class="container">
        <div class="developers-grids">
            <div class="show-top-grids">
  			    <div class="col-sm-8 show-grid-left main-grids">
                    <div class="creators-grid" id="phpage_detail">
  						<a href="#" class="phpage_detail_title">Details</a>
  						<% if session[:user_id] && session[:user_id] == @user.id %>
                        	<%= link_to "Edit Profile",edit_user_path(@user),id:"edit_profile_btn"%>
                       	<% end %>
						<p>
						<ul>
						<li><p><span class="phpage_detail_title">Description:</span> <%= @user.description %></p></li>
						<li><p><span class="phpage_detail_title">Total Views:</span></p></li>
						<li><p><span class="phpage_detail_title">Started on:</span>  <%=@user.created_at.strftime("%d %B %Y") %></p></li>
						<li><p><span class="phpage_detail_title">Subscribers Count:</span></p></li>
						<li><p><span class="phpage_detail_title">Social Links:</span></p></li>
						</ul>
						</p>
					</div>
                    <div class="recommended">
						<div class="recommended-grids">
							<div class="recommended-info">
								<div class="heading">
									<h3>Chinese</h3>
								</div>
								<div class="heading-right">
									<a  href="#small-dialog8" class="play-icon popup-with-zoom-anim">Subscribe</a>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
								<div class="resent-grid-img recommended-grid-img">
									<a href="single.html"><img src="images/ch1.jpg" alt="" /></a>
									<div class="time small-time show-time movie-time">
										<p>2:34</p>
									</div>
									<div class="clck movie-clock">
										<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
									</div>
								</div>
								<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
									<h5><a href="single.html" class="title">Varius sit sed viverra Nullam interdum metus</a></h5>
									<ul>
										<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
										<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
								<div class="resent-grid-img recommended-grid-img">
									<a href="single.html"><img src="images/ch2.jpg" alt="" /></a>
									<div class="time small-time show-time movie-time">
										<p>3:45</p>
									</div>
									<div class="clck movie-clock">
										<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
									</div>
								</div>
								<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
									<h5><a href="single.html" class="title">Varius sit sed viverra Nullam interdum metus</a></h5>
									<ul>
										<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
										<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
								<div class="resent-grid-img recommended-grid-img">
									<a href="single.html"><img src="images/ch3.jpg" alt="" /></a>
									<div class="time small-time show-time movie-time">
										<p>7:34</p>
									</div>
									<div class="clck movie-clock">
										<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
									</div>
								</div>
								<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
									<h5><a href="single.html" class="title">Varius sit sed viverra Nullam interdum metus</a></h5>
									<ul>
										<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
										<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
								<div class="resent-grid-img recommended-grid-img">
									<a href="single.html"><img src="images/ch4.jpg" alt="" /></a>
									<div class="time small-time show-time movie-time">
										<p>6:30</p>
									</div>
									<div class="clck movie-clock">
										<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
									</div>
								</div>
								<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
									<h5><a href="single.html" class="title">Varius sit sed viverra Nullam interdum metus</a></h5>
									<ul>
										<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
										<li class="right-list"><p class="views views-info">2,114,200 views</p></li>
									</ul>
								</div>
							</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-md-3  show-grid-right">
    					<h3><span class="phpage_detail_title">Similar Publishing House</span></h3>
    					<div class="show-right-grids">
    						<ul>
    							<li class=""><%= link_to image_tag(@user.avatar.url,alt:"logo",height: "50px") %></li>
    							<li><a href="#">English Movies</a><br><a href="#small-dialog8" id="suggestion_subscribe_btn" class="play-icon popup-with-zoom-anim">Subscribe</a></li>
                                <br>
    						</ul>
    					</div>
    					<div class="show-right-grids">
    						<ul>
    							<li class="tv-img"><%= link_to image_tag("mv",alt:"logo") %></li>
    							<li><a href="#">English Movies</a><br><a href="#small-dialog8" id="suggestion_subscribe_btn" class="play-icon popup-with-zoom-anim">Subscribe</a></li>
    						</ul>
    					</div>
    					<div class="show-right-grids">
    						<ul>
    							<li class="tv-img"><%= link_to image_tag("mv",alt:"logo") %></li>
    							<li><a href="#">English Movies</a><br><a href="#small-dialog8" id="suggestion_subscribe_btn" class="play-icon popup-with-zoom-anim">Subscribe</a></li>
    						</ul>
    					</div>
    					<div class="show-right-grids">
    						<ul>
    							<li class="tv-img"><%= link_to image_tag("mv",alt:"logo") %></li>
    							<li><a href="#">English Movies</a><br><a href="#small-dialog8" id="suggestion_subscribe_btn" class="play-icon popup-with-zoom-anim">Subscribe</a></li>
    						</ul>
    					</div>
    					<div class="show-right-grids">
    						<ul>
    							<li class="tv-img"><%= link_to image_tag("mv",alt:"logo") %></li>
    							<li><a href="#">English Movies</a><br><a href="#small-dialog8" id="suggestion_subscribe_btn" class="play-icon popup-with-zoom-anim">Subscribe</a></li>
    						</ul>
    					</div>
    					<div class="show-right-grids">
    						<ul>
    							<li class="tv-img"><%= link_to image_tag("mv",alt:"logo") %></li>
    							<li><a href="#">English Movies</a><br><a href="#small-dialog8" id="suggestion_subscribe_btn" class="play-icon popup-with-zoom-anim">Subscribe</a></li>
    						</ul>
    					</div>
    					<div class="show-right-grids">
    						<ul>
    							<li class="tv-img"><%= link_to image_tag("mv",alt:"logo") %></li>
    							<li><a href="#">English Movies</a><br><a href="#small-dialog8" id="suggestion_subscribe_btn" class="play-icon popup-with-zoom-anim">Subscribe</a></li>
    						</ul>
    					</div>
    					<div class="show-right-grids">
    						<ul>
    							<li class="tv-img"><%= link_to image_tag("mv",alt:"logo") %></li>
    							<li><a href="#">Chinese Movies</a><br><a href="#small-dialog8" id="suggestion_subscribe_btn" class="play-icon popup-with-zoom-anim">Subscribe</a></li>
    						</ul>
    					</div>
    					<div class="show-right-grids">
    						<ul>
    							<li class="tv-img"><%= link_to image_tag("mv",alt:"logo") %></li>
    							<li><a href="#">Hindi Movies</a><br><a href="#small-dialog8" id="suggestion_subscribe_btn" class="play-icon popup-with-zoom-anim">Subscribe</a></li>
    						</ul>
    					</div>
    					<div class="show-right-grids">
    						<ul>
    							<li class="tv-img"><%= link_to image_tag("mv",alt:"logo") %></li>
    							<li><a href="#">Telugu Movies</a><br><a href="#small-dialog8" id="suggestion_subscribe_btn" class="play-icon popup-with-zoom-anim">Subscribe</a></li>
    						</ul>
    					</div>
    					<div class="show-right-grids">
    						<ul>
    							<li class="tv-img"><%= link_to image_tag("mv",alt:"logo") %></li>
    							<li><a href="#">Tamil Movies</a><br><a href="#small-dialog8" id="suggestion_subscribe_btn" class="play-icon popup-with-zoom-anim">Subscribe</a></li>
    						</ul>
    					</div>
    					<div class="show-right-grids">
    						<ul>
    							<li class="tv-img"><%= link_to image_tag("mv",alt:"logo") %></li>
    							<li><a href="#">Kannada Movies</a><br><a href="#small-dialog8" id="suggestion_subscribe_btn" class="play-icon popup-with-zoom-anim">Subscribe</a></li>
    						</ul>
    					</div>
    					<div class="show-right-grids">
    						<ul>
    							<li class="tv-img"><%= link_to image_tag("mv",alt:"logo") %></li>
    							<li><a href="#">Marathi movies</a><br><a href="#small-dialog8" id="suggestion_subscribe_btn" class="play-icon popup-with-zoom-anim">Subscribe</a></li>
    						</ul>
    					</div>
    				</div>
    			<div class="clearfix"> </div>
          </div>
        </div>
      </div>
