<% title @user.phname %>
<br><br>
<div class="container">
	<% if flash.any?%>
		<div class="alert alert-success alert-dismissible" style="margin-top: 10px;margin-bottom: -10px" role="alert">
		   	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true	">&times;</span></button>
		   	<h4><%= flash[:notice]%></h4>
		</div>
	<% end %>
</div>
<br>
<div class="developers">
	<% if @user.cover.url == "/covers/original/missing.png" %> 
		<div class="phouse-banner" style=" background: url("customcover") no-repeat 0px 0px !important;background-size: 100vw auto !important">
	<% else %>
		<div class="phouse-banner" style="background: url(<%=@user.cover.url(:thumb)%>) no-repeat 0px 0px !important;background-size: 100vw auto !important;">
	<% end %>
	   <!-- container -->
		<div class="container">
			<div class="phouse-short-info">
				<% if @user.avatar.url == "/avatars/original/missing.png" %>
                	<%= link_to image_tag("customprofile",width:"180em",height:"200em",alt:@user.name),@user %>
                <%else%>
                	<%= link_to image_tag(@user.avatar.url(:thumb),width:"180em",height:"200em",alt:@user.name),@user %>
                <% end %>
			</div>
		</div>
		<!-- //container -->
	</div>
	<div class="clearfix"></div>
    <div class="container">
		<div class="developers-grids">
            <div class="show-top-grids">
            	<div class="col-sm-12 show-grid-left.main-grids">
            		<div class="creators-grid">
            			<h3 class="phpage_detail_title"><strong><%= @user.phname %></strong>
            			<% if current_user && current_user.id == @user.id %>
            				<span class="earning" title="You will be soon get Benefits of Monetization. Get More Subscriber's to Earn Big!"> Earned:
							<span class="glyphicon glyphicon-usd usd"></span> 0</span>
						<% end %>
            			</h3>
            			<br>
						<p><em><%=@user.intro unless @user.intro.nil? %></em></p>
            		</div>
            	</div>
            </div>
        </div>
        <div class="developers-grids">
            <div class="show-top-grids">
  			    <div class="col-sm-8 show-grid-left main-grids" id="profileinfocontainer">
                    <div class="creators-grid" id="phpage_detail">
  						<a href="" class="phpage_detail_title">About</a>
  						<% if session[:user_id] && session[:user_id] == @user.id %>
                        	<%= link_to "Edit Profile",edit_user_path(@user),id:"edit_profile_btn"%>
                        	<%= link_to "Dashboard", user_dashboard_path,id:"edit_profile_btn" %>
                        <% else %>
                        	<div style="float:right;">
                        		<%= render partial:'shared/subscribe_form',locals:{fi: 0} if current_user %>
                        	</div>
                       	<% end %>
						<p>
						<ul>
						<li><p><strong><%= @user.description %></strong> </p></li>
						<li><p><span class="phpage_detail_title">Total Views:</span> <strong><%= @totalvote%> views</strong></p></li>
						<li><p><span class="phpage_detail_title">Started on:</span><strong><%=@user.created_at.strftime("%d %B %Y") %></strong></p></li>
						<li><p><span class="phpage_detail_title">Subscribers Count:</span><strong><%= @user.subscriber.count %></strong></p></li>
						<li><p><span class="phpage_detail_title">Social Links:
							<%= link_to image_tag("fb"),@user.fblink,target:"_blank",class:"sociallink" unless @user.fblink.blank? %>
							<%= link_to image_tag("twitter"),@user.twitterlink,target:"_blank",class:"sociallink" unless @user.twitterlink.blank? %>
							<%= link_to image_tag("pinterest"),@user.pinterestlink,target:"_blank",class:"sociallink" unless @user.pinterestlink.blank? %>
							<%= link_to image_tag("google"),@user.googlelink,target:"_blank",class:"sociallink" unless @user.googlelink.blank? %>
							<%= link_to image_tag("instagram"),@user.instagramlink,target:"_blank",class:"sociallink" unless @user.instagramlink.blank? %>
						</p></li>
						</ul>
						</p>
					</div>
                    <div class="recommended">
						<div class="recommended-grids">
							<div class="recommended-info">
								<div class="heading">
									<h3>Practicals</h3>
								</div>
								<div class="clearfix"> </div>
							</div>
							<%unless @recentPracticals.blank? %>
								<% @recentPracticals.each do |practical|%>
									<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
										<div class="resent-grid-img recommended-grid-img">
										<% if practical.pimages.count > 0  %>
											<%= link_to image_tag(practical.pimages.first.image.url(:small),alt: practical.title),practical %>
										<% else%>
											<%= link_to image_tag("defaultcoverimage",alt: practical.title),practical %>
										<% end %>
											<div class="time small-time show-time movie-time" title="Pages Count">
												<p class="usercontent"><%=practical.pimages.count%></p>
											</div>
											<div class="clck movie-clock" title="Pages">
												<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
											</div>
										</div>
										<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
											<h5><%=link_to practical.title,practical,class:"title" %><br><small>Submitted <strong> <%=time_ago_in_words(practical.created_at) %> ago</strong></small></h5>
											<ul>
												<li><p class="author author-info"><%= link_to practical.user.phname,  controller:"users",action:"show",id:practical.user_id,class:"author"%></p></li>
												<li class="right-list"><p class="views views-info"><strong><%= practical.impressionist_count %></strong> views</p></li>
											</ul>
										</div>
									</div>
								<%end%>
							<% else %>
								<div class="col-md-12 resent-grid recommended-grid movie-video-grid nocontent">
									<div class="resent-grid-img recommended-grid-img">
										<%= image_tag("create",height:"100%",width:"100%") %>
										<p class="NoContentInfo">Shooting New Practical , Will be Back Soon With Exciting Stuff!</p>
									</div>
								</div>
							<% end %>
							<div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="recommended">
						<div class="recommended-grids">
							<div class="recommended-info">
								<div class="heading">
									<h3>Assignments</h3>
								</div>
								<div class="clearfix"> </div>
							</div>
							<% unless @recentAssignments.blank? %>
								<% @recentAssignments.each do |assignment|%>
									<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
										<div class="resent-grid-img recommended-grid-img">
										<% if assignment.aimages.count > 0  %>
											<%= link_to image_tag(assignment.aimages.first.image.url(:small),alt: assignment.topic),assignment %>
										<% else %>
											<%= link_to image_tag("defaultcoverimage",alt: assignment.topic),assignment %>
										<% end%>
											<div class="time small-time show-time movie-time" title="Pages Count">
												<p class="usercontent"><%=assignment.aimages.count%></p>
											</div>
											<div class="clck movie-clock" title="Pages">
												<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
											</div>
										</div>
										<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
											<h5><%=link_to assignment.topic,assignment,class:"title" %><br><small>Submitted <strong> <%=time_ago_in_words(assignment.created_at) %> ago</strong></small></h5>
											<ul>
												<li><p class="author author-info"><%= link_to assignment.user.phname,  controller:"users",action:"show",id:assignment.user_id,class:"author"%></p></li>
												<li class="right-list"><p class="views views-info"><strong><%= assignment.impressionist_count %></strong> views</p></li>
											</ul>
										</div>
									</div>
								<%end%>
							<% else %>
								<div class="col-md-12 resent-grid recommended-grid movie-video-grid nocontent">
									<div class="resent-grid-img recommended-grid-img">
										<%= image_tag("Creator",height:"100%",width:"100%") %>
										<p class="NoContentInfo">Shooting New Assignment , Will be Back Soon With Exciting Stuff!</p>
									</div>
								</div>
							<% end %>
							<div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="recommended">
						<div class="recommended-grids">
							<div class="recommended-info">
								<div class="heading">
									<h3>Examnotes</h3>
								</div>
								<div class="clearfix"> </div>
							</div>
							<% unless @recentExamnotes.blank? %>
								<% @recentExamnotes.each do |examnote|%>
									<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
										<div class="resent-grid-img recommended-grid-img">
										<% if examnote.eimages.count > 0  %>
											<%= link_to image_tag(examnote.eimages.first.image.url(:small),alt: examnote.topic),examnote %>
										<% else %>
											<%= link_to image_tag("defaultcoverimage",alt: examnote.topic),examnote %>
										<% end %>
											<div class="time small-time show-time movie-time" title="Pages Count">
												<p class="usercontent"><%=examnote.eimages.count%></p>
											</div>
											<div class="clck movie-clock" title="Pages">
												<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
											</div>
										</div>
										<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
											<h5><%=link_to examnote.topic,examnote,class:"title" %><br><small>Submitted <strong> <%=time_ago_in_words(examnote.created_at) %> ago</strong></small></h5>
											<ul>
												<li><p class="author author-info"><%= link_to examnote.user.phname,  controller:"users",action:"show",id:examnote.user_id,class:"author"%></p></li>
												<li class="right-list"><p class="views views-info"><strong><%= examnote.impressionist_count %></strong> views</p></li>
											</ul>
										</div>
									</div>
								<%end%>
							<% else %>
								<div class="col-md-12 resent-grid recommended-grid movie-video-grid nocontent">
									<div class="resent-grid-img recommended-grid-img">
										<%= image_tag("try",height:"100%",width:"100%") %>
										<p class="NoContentInfo">Shooting New Examnote , Will be Back Soon With Exciting Stuff!</p>
									</div>
								</div>
							<% end %>
							<div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="recommended">
						<div class="recommended-grids">
							<div class="recommended-info">
								<div class="heading">
									<h3>Papers</h3>
								</div>
								<div class="clearfix"> </div>
							</div>
							<% unless @recentQpapers.blank? %>
								<% @recentQpapers.each do |qpaper|%>
									<div class="col-md-3 resent-grid recommended-grid movie-video-grid">
										<div class="resent-grid-img recommended-grid-img">
										<% if qpaper.qimages.count > 0  %>
											<%= link_to image_tag(qpaper.qimages.first.image.url(:small),alt: qpaper.examname),qpaper %>
										<% else %>
											<%= link_to image_tag("defaultcoverimage",alt: qpaper.examname),qpaper %>
										<% end %>
											<div class="time small-time show-time movie-time" title="Pages Count">
												<p class="usercontent"><%=qpaper.qimages.count%></p>
											</div>
											<div class="clck movie-clock" title="Pages">
												<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
											</div>
										</div>
										<div class="resent-grid-info recommended-grid-info recommended-grid-movie-info">
											<h5><%=link_to qpaper.examname,qpaper,class:"title" %><br><small>Submitted <strong> <%=time_ago_in_words(qpaper.created_at) %> ago</strong></small></h5>
											<ul>
												<li><p class="author author-info"><%= link_to qpaper.user.phname,  controller:"users",action:"show",id:qpaper.user_id,class:"author"%></p></li>
												<li class="right-list"><p class="views views-info"><strong><%= qpaper.impressionist_count %></strong> views</p></li>
											</ul>
										</div>
									</div>
								<%end%>
							<% else %>
								<div class="col-md-12 resent-grid recommended-grid movie-video-grid nocontent">
									<div class="resent-grid-img recommended-grid-img">
										<%= image_tag("try-banner",height:"100%",width:"100%") %>
										<p class="NoContentInfo">Shooting New Paper , Will be Back Soon With Exciting Stuff!</p>
									</div>
								</div>
							<% end %>
							<div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3  show-grid-right">
					<h3><span class="phpage_detail_title">Similar Publishing House</span></h3>
					<% i = 0 %>
					<% @recentUsers.each do |user| %>
						<div class="show-right-grids">
							<% i = i+ 1%>
							<ul>
								<li>
									<% if user.avatar.url == "/avatars/original/missing.png" %>
					                	<%=link_to image_tag("customprofile",height:"50px",alt:user.name),user %>
					                <% else%>
					                	<%=link_to image_tag(user.avatar.url(:small),height:"50px",alt:user.name),user%>
					                <% end %>
				                </li>
								<li><%=link_to user.phname,user%><br>
									<% @user = user %>
									<%= render partial:"shared/subscribe_form",locals:{fi: i} if current_user %>
								</li>
	                            <br>
							</ul>
						</div>
					<% end %>
				</div>
    			<div class="clearfix"> </div>
          </div>
        </div>
      </div>
