<div class="col-md-3 resent-grid recommended-grid">
	<div class="resent-grid-img recommended-grid-img">
	<% if college.cimages.count > 0 %>
		<%= link_to image_tag(college.cimages.first.image.url(:small),alt: college.name),college %>
	<%else%>
		<%= link_to image_tag("defaultcoverimage",alt: college.name),college %>
	<% end %>
		<div class="time small-time" title="Pages Count">
			<p><%= college.cimages.count %></p>
		</div>
		<div class="clck small-clck" title="Pages">
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
		</div>
	</div>
	<div class="resent-grid-info recommended-grid-info video-info-grid">
		<h5><%=link_to college.name,college, class:"title" %><br></h5>
		<small>Submitted <strong> <%=time_ago_in_words(college.created_at) %> ago</strong></small>
		<ul>
			<li><p class="author author-info"><%= link_to college.user.phname,  controller:"users",action:"show",id:college.user_id,class:"author"%></p></li>
			<li class="right-list"><p class="views views-info"><strong><%= college.views %></strong> views</p></li>
		</ul>
	</div>
</div>