<div class="single-right-grids">
	<div class="col-md-4 single-right-grid-left">
		<% if examnote.eimages.count > 0 %>
			<%= link_to image_tag(examnote.eimages.first.image.url(:small),alt: examnote.topic),examnote %>
		<% else %>
			<%= link_to image_tag("defaultcoverimage",alt: examnote.topic),examnote %>
		<%end%>
	</div>
	<div class="col-md-8 single-right-grid-right">
		<p class="wrap" title="<%=examnote.topic%>"><%= link_to examnote.topic,examnote,class:"title"%></p>
		<p class="author"><%= link_to examnote.user.phname,  controller:"users",action:"show",id:examnote.user_id,class:"author"%></p>
		<p class="views"><%=examnote.views %> views</p>
	</div>
	<div class="clearfix"> </div>
</div>