 <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path,class:"navbar-brand" do %>
			<h1>BitNotes</h1>
	       <% end %>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
			<div class="top-search">
				<form class="navbar-form navbar-right">
					<input type="text" class="form-control" placeholder="Search...">
					<input type="submit" value=" ">
				</form>
			</div>  
			<div class="header-top-right">
				<div class="file" id="upload-btn">
						<a href="#small-dialog9" class="play-icon popup-with-zoom-anim">Upload</a>
					</div>	
					<div id="small-dialog9" class="mfp-hide">
						<h3>New Upload</h3> 
						<div class="social-sits">
							<%=link_to "Institute",new_college_path,  class:"btn btn-info",data: { no_turbolink: true }%>
							<%= link_to "Subject",new_subject_path,class:"btn btn-success",data: { no_turbolink: true }%>
							<%= link_to "Request",new_request_path,class:"btn btn-danger",data: { no_turbolink: true }%>
							<%= link_to "Assignment", new_assignment_path,class:"btn btn-success",data: { no_turbolink: true }%>
							<br><br><br>
						</div>
						<div class="signup">
							<%= link_to "Practical", new_practical_path,class:"btn btn-danger",data: { no_turbolink: true }%>
							<%= link_to "Paper", new_qpaper_path,class:"btn btn-warning",data: { no_turbolink: true }%>
							<%= link_to "Examnote", new_examnote_path,class:"btn btn-info",data: { no_turbolink: true }%>
							<br><br><br>
						</div>
						<div class="clearfix"> </div>
					</div>	
				<div class="signin">
					<% if user_signed_in? %>
						<% if current_user.avatar.url != "/avatars/original/missing.png" %>
							<%= link_to (image_tag current_user.avatar.url(:thumb),class:"navbarprofilepic"),current_user,id:"publishinghouselink"%>
						<% else%>
							<%= link_to (image_tag "customprofile",class:"navbarprofilepic"),current_user,id:"publishinghouselink" %>
						<%end %>
					<% else%>
						<a href="#small-dialog2" class="play-icon popup-with-zoom-anim">Sign In</a>
					<% end %>
					<div id="small-dialog2" class="mfp-hide">
						<h3>Create Account</h3> 
						<div class="social-sits">
							<div class="facebook-button">
								<%=link_to "Connect with Facebook","/auth/facebook", id: "sign_in" %>
							</div>
							<div class="chrome-button">
								<%=link_to "Connect with Google","/auth/google_oauth2", id: "sign_in" %>
							</div>
							<div class="button-bottom">
								<p>Already have an account? <a href="#small-dialog" class="play-icon popup-with-zoom-anim">Login</a></p>
							</div>
						</div>
						<div class="signup">
							<form>
								<input type="text" class="email" placeholder="Mobile Number" maxlength="10" pattern="[1-9]{1}\d{9}" title="Enter a valid mobile number" />
							</form>
							<div class="continue-button">
								<a href="#small-dialog3" class="hvr-shutter-out-horizontal play-icon popup-with-zoom-anim">CONTINUE</a>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>	
					<div id="small-dialog3" class="mfp-hide">
						<h3>Create Account</h3> 
						<div class="social-sits">
							<div class="facebook-button">
								<%=link_to "Connect with Facebook","/auth/facebook", id: "sign_in" %>
							</div>
							<div class="chrome-button">
								<%=link_to "Connect with Google","/auth/google_oauth2", id: "sign_in" %>
							</div>
							<div class="button-bottom">
								<p>Already have an account? <a href="#small-dialog" class="play-icon popup-with-zoom-anim">Login</a></p>
							</div>
						</div>
						<div class="signup">
							<form>
								<input type="text" class="email" placeholder="Email" required="required" pattern="([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?" title="Enter a valid email"/>
								<input type="password" placeholder="Password" required="required" pattern=".{6,}" title="Minimum 6 characters required" autocomplete="off" />
								<input type="text" class="email" placeholder="Mobile Number" maxlength="10" pattern="[1-9]{1}\d{9}" title="Enter a valid mobile number" />
								<input type="submit"  value="Sign Up"/>
							</form>
						</div>
						<div class="clearfix"> </div>
					</div>	
					<div id="small-dialog7" class="mfp-hide">
						<h3>Create Account</h3> 
						<div class="social-sits">
							<div class="facebook-button">
								<a href="#">Connect with Facebook</a>
							</div>
							<div class="chrome-button">
								<a href="#">Connect with Google</a>
							</div>
							<div class="button-bottom">
								<p>Already have an account? <a href="#small-dialog" class="play-icon popup-with-zoom-anim">Login</a></p>
							</div>
						</div>
						<div class="signup">
							<form action="upload.html">
								<input type="text" class="email" placeholder="Email" required="required" pattern="([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?" title="Enter a valid email"/>
								<input type="password" placeholder="Password" required="required" pattern=".{6,}" title="Minimum 6 characters required" autocomplete="off" />
								<input type="submit"  value="Sign In"/>
							</form>
						</div>
						<div class="clearfix"> </div>
					</div>	
					<div id="small-dialog4" class="mfp-hide">
						<h3>Feedback</h3> 
						<div class="feedback-grids">
							<div class="feedback-grid">
								<p>Suspendisse tristique magna ut urna pellentesque, ut egestas velit faucibus. Nullam mattis lectus ullamcorper dui dignissim, sit amet egestas orci ullamcorper.</p>
							</div>
							<div class="button-bottom">
								<p><a href="#small-dialog" class="play-icon popup-with-zoom-anim">Sign in</a> to get started.</p>
							</div>
						</div>
					</div>
					<div id="small-dialog5" class="mfp-hide">
						<h3>Help</h3> 
							<div class="help-grid">
								<p>Suspendisse tristique magna ut urna pellentesque, ut egestas velit faucibus. Nullam mattis lectus ullamcorper dui dignissim, sit amet egestas orci ullamcorper.</p>
							</div>
							<div class="help-grids">
								<div class="help-button-bottom">
									<p><a href="#small-dialog4" class="play-icon popup-with-zoom-anim">Feedback</a></p>
								</div>
								<div class="help-button-bottom">
									<p><a href="#small-dialog6" class="play-icon popup-with-zoom-anim">Lorem ipsum dolor sit amet</a></p>
								</div>
								<div class="help-button-bottom">
									<p><a href="#small-dialog6" class="play-icon popup-with-zoom-anim">Nunc vitae rutrum enim</a></p>
								</div>
								<div class="help-button-bottom">
									<p><a href="#small-dialog6" class="play-icon popup-with-zoom-anim">Mauris at volutpat leo</a></p>
								</div>
								<div class="help-button-bottom">
									<p><a href="#small-dialog6" class="play-icon popup-with-zoom-anim">Mauris vehicula rutrum velit</a></p>
								</div>
								<div class="help-button-bottom">
									<p><a href="#small-dialog6" class="play-icon popup-with-zoom-anim">Aliquam eget ante non orci fac</a></p>
								</div>
							</div>
					</div>
					<div id="small-dialog6" class="mfp-hide">
						<div class="video-information-text">
							<h4>Video information & settings</h4>
							<p>Suspendisse tristique magna ut urna pellentesque, ut egestas velit faucibus. Nullam mattis lectus ullamcorper dui dignissim, sit amet egestas orci ullamcorper.</p>
							<ol>
								<li>Nunc vitae rutrum enim. Mauris at volutpat leo. Vivamus dapibus mi ut elit fermentum tincidunt.</li>
								<li>Nunc vitae rutrum enim. Mauris at volutpat leo. Vivamus dapibus mi ut elit fermentum tincidunt.</li>
								<li>Nunc vitae rutrum enim. Mauris at volutpat leo. Vivamus dapibus mi ut elit fermentum tincidunt.</li>
								<li>Nunc vitae rutrum enim. Mauris at volutpat leo. Vivamus dapibus mi ut elit fermentum tincidunt.</li>
								<li>Nunc vitae rutrum enim. Mauris at volutpat leo. Vivamus dapibus mi ut elit fermentum tincidunt.</li>
							</ol>
						</div>
					</div>
					<script>
						$(document).ready(function() {
							$('.popup-with-zoom-anim').magnificPopup({
								type: 'inline',
								fixedContentPos: false,
								fixedBgPos: true,
								overflowY: 'auto',
								closeBtnInside: true,
								preloader: false,
								midClick: true,
								removalDelay: 300,
								mainClass: 'my-mfp-zoom-in'
							});																
						});
					</script>					
				</div>
				<div class="signin">
					<% if user_signed_in? %>
						<%= link_to "Sign Out",signout_path %>
					<% end %>
					<div id="small-dialog" class="mfp-hide">
						<h3>Login</h3>
						<div class="social-sits">
							<div class="facebook-button">
								<a href="#">Connect with Facebook</a>
							</div>
							<div class="chrome-button">
								<a href="#">Connect with Google</a>
							</div>
							<div class="button-bottom">
								<p>New account? <a href="#small-dialog2" class="play-icon popup-with-zoom-anim">Signup</a></p>
							</div>
						</div>
						<div class="signup">
							<form>
								<input type="text" class="email" placeholder="Enter email / mobile" required="required" pattern="([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?"/>
								<input type="password" placeholder="Password" required="required" pattern=".{6,}" title="Minimum 6 characters required" autocomplete="off" />
								<input type="submit"  value="LOGIN"/>
							</form>
							<div class="forgot">
								<a href="#">Forgot password ?</a>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
        </div>
		<div class="clearfix"> </div>
      </div>
    </nav>