<div class="single-right-grids">
	<div class="col-md-4 single-right-grid-left">
		<% if practical.pimages.count > 0 %>
			<%= link_to image_tag(practical.pimages.first.image.url(:small),alt: practical.title),practical %>
		<% else%>
			<%= link_to image_tag("defaultcoverimage",alt: practical.title),practical %>
		<% end %>
	</div>
	<div class="col-md-8 single-right-grid-right">
		<p class="wrap" title="<%=practical.title %>"><%= link_to practical.title,practical,class:"title"%></p>
		<p class="author"><%= link_to practical.user.phname,  controller:"users",action:"show",id:practical.user_id,class:"author"%></p>
		<p class="views"><%= practical.impressionist_count %> views</p>
	</div>
	<div class="clearfix"> </div>
</div>