<div class="col-md-3 resent-grid recommended-grid">
	<div class="resent-grid-img recommended-grid-img">
	<% if qpaper.qimages.count > 0 %>
		<%= link_to image_tag(qpaper.qimages.first.image.url(:small),alt: qpaper.examname),qpaper %>
	<%else %>
		<%= link_to image_tag("defaultcoverimage",alt: qpaper.examname),qpaper %>
	<% end %>
		<div class="time small-time" title="Pages Count">
			<p><%= qpaper.qimages.count %></p>
		</div>
		<div class="clck small-clck" title="Pages">
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
		</div>
	</div>
	<div class="resent-grid-info recommended-grid-info video-info-grid">
		<h5><%= link_to qpaper.examname,qpaper,class:"title",title:qpaper.examname%><br></h5>
		<small>Submitted <strong> <%=time_ago_in_words(qpaper.created_at) %> ago</strong></small>
		<ul>
			<li><p class="author author-info"><%= link_to qpaper.user.phname,  controller:"users",action:"show",id:qpaper.user_id,class:"author"%></p></li>
			<li class="right-list"><p class="views views-info"><strong><%=qpaper.views %></strong> views</p></li>
		</ul>
	</div>
</div>