 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="main-grids">
				<div class="top-grids">
					<div class="recommended-info">
						<h3>Recent Practicals</h3>
					</div>

					<% @recentPracticals.each do |practical| %>
						<div class="col-md-4 resent-grid recommended-grid slider-top-grids">
							<div class="resent-grid-img recommended-grid-img">
								<% if practical.pimages.count > 0  %>
									<%= link_to image_tag(practical.pimages.first.image.url(:medium),alt: practical.title),practical %>
									<div class="time" title="Pages Count">
										<p><%=practical.pimages.count%></p>
									</div>
									<div class="clck" title="Pages">
										<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
									</div>
								<% end %>
							</div>
							<div class="resent-grid-info recommended-grid-info">
								<h3><%=link_to practical.title,practical,class:"title title-info" %><br><small>Submitted <strong> <%=time_ago_in_words(practical.created_at) %> ago</strong></small></h3>
								<ul>
									<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
									<li class="right-list"><p class="views views-info"><strong><%= practical.impressionist_count %></strong> views</p></li>
								</ul>	
							</div>
						</div>
					<% end %>
					<div class="clearfix"> </div>
				</div>
				<div class="recommended">
					<div class="recommended-grids">
						<div class="recommended-info">
							<h3>Recommended</h3>
						</div>
						<% @recentPracticals.each do |practical| %>
							<div class="col-md-3 resent-grid recommended-grid">
								<% if practical.pimages.count > 0 %>
								<div class="resent-grid-img recommended-grid-img">
									<%= link_to image_tag(practical.pimages.first.image.url(:small),alt: practical.title),practical %>
									<div class="time small-time" title="Pages Count">
										<p><%= practical.pimages.count %></p>
									</div>
									<div class="clck small-clck" title="Pages">
										<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
									</div>
								</div>
								<%end %>
								<div class="resent-grid-info recommended-grid-info video-info-grid">
									<h5><%=link_to practical.title,practical,class:"title" %><br><small>Submitted <strong> <%=time_ago_in_words(practical.created_at) %> ago</strong></small></h5>
									<ul>
										<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
										<li class="right-list"><p class="views views-info"><strong><%= practical.impressionist_count %></strong> views</p></li>
									</ul>
								</div>
							</div>
						<% end %>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="recommended">
					<div class="recommended-grids">
						<div class="recommended-info">
							<h3>Sports</h3>
						</div>
						<% @recentPracticals.each do |practical| %>
							<div class="col-md-3 resent-grid recommended-grid">
								<% if practical.pimages.count > 0 %>
								<div class="resent-grid-img recommended-grid-img">
									<%= link_to image_tag(practical.pimages.first.image.url(:small),alt: practical.title),practical %>
									<div class="time small-time" title="Pages Count">
										<p><%= practical.pimages.count %></p>
									</div>
									<div class="clck small-clck" title="Pages">
										<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
									</div>
								</div>
								<%end %>
								<div class="resent-grid-info recommended-grid-info video-info-grid">
									<h5><%=link_to practical.title,practical,class:"title" %><br><small>Submitted <strong> <%=time_ago_in_words(practical.created_at) %> ago</strong></small></h5>
									<ul>
										<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
										<li class="right-list"><p class="views views-info"><strong><%= practical.impressionist_count %></strong> views</p></li>
									</ul>
								</div>
							</div>
						<% end %>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>