<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="show-top-grids">
		<% if flash.any? %>
			<div class="alert alert-success alert-dismissible" role="alert">
			   	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true	">&times;</span></button>
			   	<h4><%= flash[:notice]%></h4>
			</div>
		<% end %>
		<div class="col-sm-8 single-left">
			<div class="song">
				
				<div class="song-info">
					<h3 title="Practical Topic"><%= @practical.title %></h3>	
				</div>
				<div class="video-grid">
          				<ul class="docs-pictures">
							<% if @practical.pimages.count > 0 %>
								<% @practical.pimages.each do |pimage| %>
									<li><%=image_tag(pimage.image.url(:small),alt: @practical.title,class: "img-thumbnail",height:"140px",width:"140px",data:{original: pimage.image.url(:thumb)}) %></li>
								<% end %>
							<% end %>
						</ul><br>
				</div>
			</div>
			<%=javascript_include_tag "viewer",'data-turbolinks-track' => true %>
			<%=javascript_include_tag "main",'data-turbolinks-track' => true %>
			
			<div class="clearfix"> </div>
			<% @user = User.find(@practical.user_id) %>
			<div class="show-right-grids">
				<ul>
					<li>
						<% if @user.avatar.url == "/avatars/original/missing.png" %>
		                	<%= link_to image_tag("customprofile",alt:"logo",height: "50px"),controller:"users",action:"show",id: @user.id %> 
		                <%else%>
		                	<%= link_to image_tag(@user.avatar.url(:thumb),alt:"logo",height: "50px",alt:@user.phname),controller: "users",action:"show",id: @user.id %>
		                <% end %>

					</li>
					<li><%=link_to @practical.user.phname,controller:"users",action: "show",id: @practical.user_id%><br>
						<%= render 'shared/subscribe_form' if current_user %></li>
                    <br>

                    <div id="result"></div>
				</ul>
			</div>
			<div class="social_response">
				<ul>
					<li><a href="#" class="icon fb-icon" title="Share on Facebook" id="shareBtn">Facebook</a></li>
					<li><a href="https://plus.google.com/share?url={<%= url_for([@practical,{only_path: false}]) %>}" onclick="javascript:window.open(this.href,
  			'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="icon googleplus-icon" title="Share on Google Plus"></a></li>
					<li><a href="//www.reddit.com/submit"  class="icon reddit-icon" title="Share on Reddit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false" target="_blank"></a>	</li>
					<li><a href="https://twitter.com/intent/tweet?text= <%="Check this "+ @practical.title + " " + url_for([@practical,{only_path: false}])%>" target="_blank" title="Share on Twitter" class="icon twitter-icon">Twitter</a></li>
					<li>

						<% if current_user %>
							<%= link_to dislike_practical_path(@practical),method: :put,class:"icon dislike",title:"Dislike this",id:"dislikebtn",style:"display:#{"none" unless current_user.liked?@practical}",remote: true do %>
								<span class="dislikecount"><strong><%= @practical.cached_votes_up %></strong></span>	
							<% end %>
							<%= link_to like_practical_path(@practical),method: :put,class:"icon like",title:"Like this", id:"likebtn",style:"display:#{"none" if current_user.liked?@practical}",remote: true do %>
								<span class="likecount"><strong><%= @practical.cached_votes_up %></strong></span>
							<% end %>
						<% else %>
							<%= link_to like_practical_path(@practical),method: :put,class:"icon like",title:"Like this", id:"likebtn",remote: true do %>
							<span class="likecount"><strong><%= @practical.cached_votes_up %></strong></span>
							<% end %>
						<%end %>
					</li>
					<li class="view" title="Views Count"><strong><%= @practical.impressionist_count %> views</strong></li>
					<% if session[:user_id] && session[:user_id] == @practical.user_id %>
						<li><%=link_to "Edit",edit_practical_path(@practical),id:"edit_profile_btn" %></li>
						<li><%=link_to "Delete",@practical,method: :delete,data:{confirm:"Are you sure?"},id:"edit_profile_btn" %></li>
					<% end %>
					<% if current_user %>
						<li><%= link_to "Mark as Spam",add_spam_path(user_id: current_user.id,post_id: @practical.id,type_id: 1),id: "edit_profile_btn" %></li>
					<% end %>
				</ul>
				<%= render "fbshare" %>
			</div>
			<div class="clearfix"></div>
			<div class="published">
				<div class="load_more">	
					<ul id="myList">
						<li>
							<h4>Published on <%= @practical.created_at.strftime("%d %B %Y") %></h4>
							<p><%=simple_format(@practical.description.slice(0..30))%>
						</li>
						<li>
							<%=simple_format(@practical.description.slice(30..-1))%></p>
							<div class="load-grids">
								<div class="load-grid-info">
									<p>Category:</p>
									<p>College:</p>
									<p>Subject:</p>
								</div>
								<div class="load-grid">
									<p><%=link_to "Practical",practicals_path %></p>
									<p><%= link_to @practical.college.name, controller:"colleges",action:"show",id:@practical.college_id %></p>
									<p><%= link_to @practical.subject.name, controller:"subjects",action:"show",id:@practical.subject_id %></p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</li>
					</ul>
					<button id="loadMore" title="See more details">Load more</button>
					<button id="showLess" style="display:none" title="See less details">Show less</button>
				</div>
			</div>
			<div class="all-comments">
				<div class="all-comments-info">
					<%= render "disqus" %>
				</div>
			</div>
		</div>
		<div class="col-md-4 single-right">
			<h3>Up Next</h3>
			<div class="single-grid-right">
				<% @recentPracticals.each do |practical| %>
					<div class="single-right-grids">
						<div class="col-md-4 single-right-grid-left">
							<% if practical.pimages.count > 0 %>
								<%= link_to image_tag(practical.pimages.first.image.url(:small),alt: practical.title),practical %>
							<% else%>
								<%= link_to image_tag("defaultcoverimage",alt: practical.title),practical %>
							<% end %>
						</div>
						<div class="col-md-8 single-right-grid-right">
							<%= link_to practical.title,practical,class:"title"%>
							<p class="author"><%= link_to practical.user.phname,  controller:"users",action:"show",id:practical.user_id,class:"author"%></p>
							<p class="views"><%= practical.impressionist_count %> views</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				<% end %>
				<% @recentAssignments.each do |assignment| %>
					<div class="single-right-grids">
						<div class="col-md-4 single-right-grid-left">
							<% if assignment.aimages.count > 0 %>
								<%= link_to image_tag(assignment.aimages.first.image.url(:small),alt: assignment.topic),assignment %>
							<% else %>
								<%= link_to image_tag("defaultcoverimage",alt: assignment.topic),assignment %>
							<% end %>
						</div>
						<div class="col-md-8 single-right-grid-right">
							<%= link_to assignment.topic,assignment,class:"title"%>
							<p class="author"><%= link_to assignment.user.phname,  controller:"users",action:"show",id:assignment.user_id,class:"author"%></p>
							<p class="views"><%= assignment.impressionist_count %> views</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				<% end %>
				<% @recentExamnotes.each do |examnote| %>
					<div class="single-right-grids">
						<div class="col-md-4 single-right-grid-left">
							<% if examnote.eimages.count > 0 %>
								<%= link_to image_tag(examnote.eimages.first.image.url(:small),alt: examnote.topic),examnote %>
							<% else %>
								<%= link_to image_tag("defaultcoverimage",alt: examnote.topic),examnote %>
							<%end%>
						</div>
						<div class="col-md-8 single-right-grid-right">
							<%= link_to examnote.topic,examnote,class:"title"%>
							<p class="author"><%= link_to examnote.user.phname,  controller:"users",action:"show",id:examnote.user_id,class:"author"%></p>
							<p class="views"><%= examnote.impressionist_count %> views</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				<% end %>
				<% @recentQpapers.each do |qpaper| %>
					<div class="single-right-grids">
						<div class="col-md-4 single-right-grid-left">
							<% if qpaper.qimages.count > 0 %>
								<%= link_to image_tag(qpaper.qimages.first.image.url(:small),alt:qpaper.examname),qpaper %>
							<% else %>
								<%= link_to image_tag("defaultcoverimage",alt:qpaper.examname),qpaper %>
							<% end %>
						</div>
						<div class="col-md-8 single-right-grid-right">
							<%= link_to qpaper.examname,qpaper,class:"title"%>
							<p class="author"><%= link_to qpaper.user.phname,  controller:"users",action:"show",id:qpaper.user_id,class:"author"%></p>
							<p class="views"><%= qpaper.impressionist_count %> views</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				<% end %>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>