 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
 			<% if flash.any?%>
				<div class="alert alert-success alert-dismissible" role="alert">
				   	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true	">&times;</span></button>
				   	<h4><%= flash[:notice]%></h4>
				</div>
			<% end %>
			<% if @query.present?%>
				<div class="alert alert-success alert-dismissible" role="alert">
				   	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true	">&times;</span></button>
				   	<h4><strong><%= @totalResult %></strong> results found for "<strong><%= @query %></strong>"</h4>
				</div>
			<% end %>			
			<div class="main-grids">
				<div class="top-grids">
					<div class="recommended-info">
						<h3>Recent Uploads</h3>
					</div>
					<% @practicals.each do |practical| %>
						<div class="col-md-4 resent-grid recommended-grid slider-top-grids">
							<div class="resent-grid-img recommended-grid-img">
								<% if practical.pimages.count > 0  %>
									<%= link_to image_tag(practical.pimages.first.image.url(:medium),alt: practical.title),practical %>
									<div class="time" title="Pages Count">
										<p><%=practical.pimages.count%></p>
									</div>
									<div class="clck" title="Pages">
										<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
									</div>
								<% end %>
							</div>
							<div class="resent-grid-info recommended-grid-info">
								<h3><%=link_to practical.title,practical,class:"title title-info" %><br><small>Submitted <strong> <%=time_ago_in_words(practical.created_at) %> ago</strong></small></h3>
								<ul>
									<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
									<li class="right-list"><p class="views views-info"><%=practical.impressionist_count %> views</p></li>
								</ul>	
							</div>
						</div>
					<% end %>
					<div class="clearfix"> </div>
				</div>	
				<div class="recommended">
					<div class="recommended-grids">
						<div class="recommended-info">
							<h3>Examnote</h3>
						</div>
						<% @examnotes.each do |examnote| %>
							<div class="col-md-3 resent-grid recommended-grid">
								<div class="resent-grid-img recommended-grid-img">
								<% if examnote.eimages.count > 0 %>
									<%= link_to image_tag(examnote.eimages.first.image.url(:small),alt: examnote.topic),examnote %>
								<%else %>
									<%= link_to image_tag("we1",alt: examnote.topic),examnote %>
								<% end %>
									<div class="time small-time" title="Pages Count">
										<p><%= examnote.eimages.count %></p>
									</div>
									<div class="clck small-clck" title="Pages">
										<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
									</div>
								</div>
								<div class="resent-grid-info recommended-grid-info video-info-grid">
									<h5><%= link_to examnote.topic,examnote,class:"title"%><br><small>Submitted <strong> <%=time_ago_in_words(examnote.created_at) %> ago</strong></small></h5>
									<ul>
										<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
										<li class="right-list"><p class="views views-info"><%=examnote.impressionist_count %> views</p></li>
									</ul>
								</div>
							</div>
						<% end %>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="recommended">
					<div class="recommended-grids">
						<div class="recommended-info">
							<h3>Assignments</h3>
						</div>
						<% @assignments.each do |assignment| %>
							<div class="col-md-3 resent-grid recommended-grid">
								<div class="resent-grid-img recommended-grid-img">
								<% if assignment.aimages.count > 0 %>
									<%= link_to image_tag(assignment.aimages.first.image.url(:small),alt: assignment.topic),assignment %>
								<%else %>
									<%= link_to image_tag("we1",alt: assignment.topic),assignment %>
								<% end %>
									<div class="time small-time" title="Pages Count">
										<p><%= assignment.aimages.count %></p>
									</div>
									<div class="clck small-clck" title="Pages">
										<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
									</div>
								</div>
								<div class="resent-grid-info recommended-grid-info video-info-grid">
									<h5><%= link_to assignment.topic,assignment,class:"title"%><br><small>Submitted <strong> <%=time_ago_in_words(assignment.created_at) %> ago</strong></small></h5>
									<ul>
										<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
										<li class="right-list"><p class="views views-info"><%=assignment.impressionist_count %> views</p></li>
									</ul>
								</div>
							</div>
						<% end %>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="recommended">
					<div class="recommended-grids">
						<div class="recommended-info">
							<h3>Papers</h3>
						</div>
						<% @qpapers.each do |qpaper| %>
							<div class="col-md-3 resent-grid recommended-grid">
								<div class="resent-grid-img recommended-grid-img">
								<% if qpaper.qimages.count > 0 %>
									<%= link_to image_tag(qpaper.qimages.first.image.url(:small),alt: qpaper.examname),qpaper %>
								<%else %>
									<%= link_to image_tag("we1",alt: qpaper.examname),qpaper %>
								<% end %>
									<div class="time small-time" title="Pages Count">
										<p><%= qpaper.qimages.count %></p>
									</div>
									<div class="clck small-clck" title="Pages">
										<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
									</div>
								</div>
								<div class="resent-grid-info recommended-grid-info video-info-grid">
									<h5><%= link_to qpaper.examname,qpaper,class:"title"%><br><small>Submitted <strong> <%=time_ago_in_words(qpaper.created_at) %> ago</strong></small></h5>
									<ul>
										<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
										<li class="right-list"><p class="views views-info"><%=qpaper.impressionist_count %> views</p></li>
									</ul>
								</div>
							</div>
						<% end %>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="recommended">
					<div class="recommended-grids english-grid">
						<div class="recommended-info">
							<div class="heading">
								<h3>Top News</h3>
							</div>
							<div class="heading-right">
								<a  href="#small-dialog8" class="play-icon popup-with-zoom-anim">Subscribe</a>
							</div>
							<div class="clearfix"> </div>
						</div>
						<% @assignments.each do |assignment| %>
						<div class="col-md-2 resent-grid recommended-grid sports-recommended-grid">
							<div class="resent-grid-img recommended-grid-img">
								<% if assignment.aimages.count > 0 %>
									<%= link_to image_tag(assignment.aimages.first.image.url(:small),alt: assignment.topic),assignment %>
								<%else %>
									<%= link_to image_tag("we1",alt: assignment.topic),assignment %>
								<% end %>
								<div class="time small-time sports-tome" title="Pages Count">
									<p><%= assignment.aimages.count %></p>
								</div>
								<div class="clck sports-clock">
									<span class="glyphicon glyphicon-list-alt" aria-hidden="true" title="Pages "></span>
								</div>
							</div>
							<div class="resent-grid-info recommended-grid-info">
								<h5><%= link_to assignment.topic,assignment,class:"title"%><br><small>Submitted <strong> <%=time_ago_in_words(assignment.created_at) %> ago</strong></small></h5>
								<ul>
									<li><p class="author author-info"><a href="#" class="author">John Maniya</a></p></li>
									<li class="right-list"><p class="views views-info"><%=assignment.impressionist_count %> views</p></li>
								</ul>
							</div>
						</div>
						<%end%>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>