<% title "Trending" %>
<% keywords "Trending, BitNotes, Free, Education, Practicals, Assignments, Notes, Papers, Publication" %>
<% description "BitNotes is Educational Sharing Platform for sharing Assignments, Notes, Practicals and Papers. Thousands of Publications Earn by Sharing Resources to BitNotes" %>
<% author "BitNotes" %>
<% fbsharetitle "Trending BitNotes | Educational Sharing Platform" %>
<% fbshareurl "http://bitnotes/" %>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<% if flash.any?%>
		<div class="alert alert-success alert-dismissible" role="alert">
		   	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true	">&times;</span></button>
		   	<h4><%= flash[:notice]%></h4>
		</div>
	<% end %>		
	<div class="main-grids">
		<div class="recommended">
			<div class="recommended-grids">
				<%=  render "shared/adsense" %>
				<br>
				<div class="recommended-info">
					<h3>Practicals</h3>
				</div>
	<% if current_user && current_user.college_id.present? %>
				<% @rpracticals.each do |practical| %>
					<%= render partial: "shared/practical",locals:{practical: practical} %>
				<% end %>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="recommended">
			<div class="recommended-grids">
	<% end %>
				<% @practicals.each do |practical| %>
					<%= render partial: "shared/practical", locals:{practical: practical}%>
				<% end %>
				<div class="clearfix"> </div>
			</div>
		</div>
		<hr>
		<div class="recommended">
			<div class="recommended-grids">
				<div class="recommended-info">
					<h3>Notes</h3>
				</div>
	<% if current_user && current_user.college_id.present? %>
				<% @rexamnotes.each do |examnote| %>
					<%= render partial: "shared/examnote", locals:{examnote: examnote} %>
				<% end %>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="recommended">
			<div class="recommended-grids">
	<% end %>
				<% @examnotes.each do |examnote| %>
					<%= render partial: "shared/examnote", locals:{examnote: examnote} %>
				<% end %>
				<div class="clearfix"> </div>
			</div>
		</div>
		<hr>
		<div class="recommended">
			<div class="recommended-grids">
				<div class="recommended-info">
					<h3>Assignments</h3>
				</div>
	<% if current_user && current_user.college_id.present? %>
				<% @rassignments.each do |assignment| %>
					<%= render partial: "shared/assignment",locals:{assignment: assignment} %>
				<% end %>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="recommended">
			<div class="recommended-grids">
	<%end%>
				<% @assignments.each do |assignment| %>
					<%= render partial: "shared/assignment",locals:{assignment: assignment} %>
				<% end %>
				<div class="clearfix"> </div>
			</div>
		</div>
		<hr>
		<div class="recommended">
			<div class="recommended-grids">
				<div class="recommended-info">
					<h3>Papers</h3>
				</div>
	<% if current_user && current_user.college_id.present? %>
				<% @rqpapers.each do |qpaper| %>
					<%= render partial: "shared/qpaper", locals:{qpaper: qpaper} %>
				<% end %>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="recommended">
			<div class="recommended-grids">
	<% end %>
				<% @qpapers.each do |qpaper| %>
					<%= render partial:"shared/qpaper", locals:{qpaper: qpaper} %>
				<% end %>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<%= render "shared/advfooter" %>