<% title @college.name%>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<div class="show-top-grids">
		<% if flash.any? %>
			<div class="alert alert-success alert-dismissible" role="alert">
			   	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true	">&times;</span></button>
			   	<h4><%= flash[:notice]%></h4>
			</div>
		<% end %>
		<div class="col-sm-8 single-left">
			<div class="song">
				<div class="song-info">
					<h3 title="College Name"><%=@college.name %></h3>	
			</div>
				<div class="video-grid">
					<ul class="docs-pictures">
						<% if @college.cimages.count > 0 %>
							<% @college.cimages.each do |cimage| %>
								<li><%=image_tag(cimage.image.url(:medium),alt: @college.name,class: "img-thumbnail",height:"140px",width:"140px",data:{original: cimage.image.url(:thumb)}) %></li>
							<% end %>
						<% end %>
					</ul>
				</div>
			</div>

			<div class="clearfix"> </div>
			<% @user = User.find(@college.user_id) %>


			<div class="show-right-grids">
				<ul>
					<li>
						<% if @user.avatar.url == "/avatars/original/missing.png" %>
		                	<%= link_to image_tag("customprofile",alt:"logo",height: "50px"),controller:"users",action:"show",id: @user.id %> 
		                <%else%>
		                	<%= link_to image_tag(@user.avatar.url(:thumb),alt:"logo",height: "50px",alt:@user.phname),controller: "users",action:"show",id: @user.id %>
		                <% end %>

					</li>
					<li><%=link_to @college.user.phname,controller:"users",action: "show",id: @college.user_id%><br>
					<%= render partial:'shared/subscribe_form',locals:{fi: 0} if current_user %></li>
                    <br>
				</ul>
			</div>
			<div class="social_response">
				<ul>
					<li><a href="#" class="icon fb-icon" title="Share on Facebook"  id="shareBtn">Facebook</a></li>
					<li><a href="https://plus.google.com/share?url={<%= url_for([@college,{only_path: false}]) %>}" onclick="javascript:window.open(this.href,
  			'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="icon googleplus-icon" title="Share on Google Plus"></a></li>
					<li><a href="//www.reddit.com/submit" target="_blank" class="icon reddit-icon" title="Share on Reddit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"></a>	</li>
					<li><a href="https://twitter.com/intent/tweet?text= <%="Check this " +@college.name + " " + url_for([@college,{only_path: false}])%>" target="_blank" class="icon twitter-icon" title="Share on Twitter">Twitter</a></li>
					<li>
						<% if current_user %>
							<%= link_to dislike_college_path(@college),method: :put,class:"icon dislike",title:"Dislike this",id:"dislikebtn",style:"display:#{"none" unless current_user.liked?@college}",remote: true do %>
								<span class="dislikecount"><strong><%= @college.cached_votes_up %></strong></span>	
							<% end %>
							<%= link_to like_college_path(@college),method: :put,class:"icon like",title:"Like this", id:"likebtn",style:"display:#{"none" if current_user.liked?@college}",remote: true do %>
								<span class="likecount"><strong><%= @college.cached_votes_up %></strong></span>
							<% end %>
						<% else %>
							<%= link_to like_college_path(@college),method: :put,class:"icon like",title:"Like this", id:"likebtn",remote: true do %>
							<span class="likecount"><strong><%= @college.cached_votes_up %></strong></span>
							<% end %>
						<%end %>
					</li>
					<li class="view" title="Views Count"><strong><%= @college.impressionist_count %> views</strong></li>
					<% if session[:user_id] && session[:user_id] == @college.user_id %>
						<li><%=link_to "Edit",edit_college_path(@college),id:"edit_profile_btn" %></li>
					<% end %>
					<% if current_user %>
						<li><%= link_to "Mark as Spam",add_spam_path(user_id: current_user.id,post_id: @college.id,type_id: 5),id: "edit_profile_btn" %></li>
					<% end %>
				</ul>
				<%= render"fbshare" %>
			</div>
			<div class="clearfix"> </div>
			<div class="published">
				<div class="load_more">	
					<ul id="myList">
						<li>
							<h4>Published on <%= @college.created_at.strftime("%d %B %Y") %></h4>
							<p><%= simple_format(@college.address.slice(0..30))  %>
						</li>
						<li>
							<%= simple_format(@college.address.slice(30..-1)) %></p>
							<div class="load-grids">
								<div class="load-grid-info">
									<p>Category:</p>
								</div>
								<div class="load-grid">
									<%= link_to "College",colleges_path %>
								</div>
								<div class="clearfix"> </div>
							</div>
						</li>
					</ul>
					<button id="loadMore" title="See more details">Load more</button>
					<button id="showLess" style="display:none" title="See less details">Show less</button>
				</div>
			</div>
			<div class="all-comments">
				<div class="all-comments-info">
					<%= render "disqus" %>
				</div>
			</div>
		</div>
		<div class="col-md-4 single-right">
			<div class="single-grid-right">
				<div class="single-right-grids">
					<div class="col-md-12 single-right-grid-left" style="margin: 0; padding: 0;">

						<%= render("shared/adv") %>

					</div>
				</div>
			</div>
			<h3>Up Next</h3>
			<div class="single-grid-right">
				<% @recentSubjects.each do |subject| %>
					<%= render partial: "shared/subjectsuggestion",locals:{subject: subject} %>
				<% end %>
				<% @recentColleges.each do |college| %>
					<%= render partial: "shared/collegesuggestion",locals:{college: college} %>
				<% end %>
				<% @recentQpapers.each do |qpaper| %>
					<%= render partial: "shared/qpapersuggestion",locals:{qpaper: qpaper} %>
				<% end %>
				<% @recentPracticals.each do |practical| %>
					<%= render partial: "shared/practicalsuggestion",locals:{practical: practical} %>
				<% end %>
				<% @recentAssignments.each do |assignment| %>
					<%= render partial: "shared/assignmentsuggestion",locals:{assignment: assignment} %>
				<% end %>
				<% @recentExamnotes.each do |examnote| %>
					<%= render partial: "shared/examnotesuggestion",locals:{examnote: examnote} %>
				<% end %>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>