 <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="main-grids">
				<div class="recommended">
					<div class="recommended-grids">
						<div class="recommended-info">
							<h3>Recommended</h3>
						</div>
						<% @recentQpapers.each do |qpaper| %>
							<div class="col-md-3 resent-grid recommended-grid">
								<div class="resent-grid-img recommended-grid-img">
								<% if qpaper.qimages.count > 0 %>
									<%= link_to image_tag(qpaper.qimages.first.image.url(:small),alt: qpaper.examname),qpaper %>
								<% else %>
									<%= link_to image_tag("defaultcoverimage",alt: qpaper.examname),qpaper %>
								<% end %>
									<div class="time small-time" title="Pages Count">
										<p><%= qpaper.qimages.count %></p>
									</div>
									<div class="clck small-clck" title="Pages">
										<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
									</div>
								</div>
								<div class="resent-grid-info recommended-grid-info video-info-grid">
									<h5><%=link_to qpaper.examname,qpaper, class:"title" %><br><small>Submitted <strong> <%=time_ago_in_words(qpaper.created_at) %> ago</strong></small></h5>
									<ul>
										<li><p class="author author-info"><%= link_to qpaper.user.phname,  controller:"users",action:"show",id:qpaper.user_id,class:"author"%></p></li>
										<li class="right-list"><p class="views views-info"><strong><%= qpaper.impressionist_count %></strong> views</p></li>
									</ul>
								</div>
							</div>
						<% end %>
						<div class="clearfix"> </div>
					</div>
				</div>
				<hr>
				<div class="recommended">
					<div class="recommended-grids">
						<div class="recommended-info">
							<h3>Papers</h3>
						</div>
						<% @recentQpapers.each do |qpaper| %>
							<div class="col-md-3 resent-grid recommended-grid">
								<div class="resent-grid-img recommended-grid-img">
									<% if qpaper.qimages.count > 0 %>
										<%= link_to image_tag(qpaper.qimages.first.image.url(:small),alt: qpaper.examname),qpaper %>
									<% else %>
										<%= link_to image_tag("defaultcoverimage",alt: qpaper.examname),qpaper %>
									<% end %>
									<div class="time small-time" title="Pages Count">
										<p><%= qpaper.qimages.count %></p>
									</div>
									<div class="clck small-clck" title="Pages">
										<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
									</div>
								</div>
								<div class="resent-grid-info recommended-grid-info video-info-grid">
									<h5><%=link_to qpaper.examname,qpaper, class:"title" %><br><small>Submitted <strong> <%=time_ago_in_words(qpaper.created_at) %> ago</strong></small></h5>
									<ul>
										<li><p class="author author-info"><%= link_to qpaper.user.phname,  controller:"users",action:"show",id:qpaper.user_id,class:"author"%></p></li>
										<li class="right-list"><p class="views views-info"><strong><%= qpaper.impressionist_count %></strong> views</p></li>
									</ul>
								</div>
							</div>
						<% end %>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>