<!DOCTYPE html>
<html>
<head>
  <title>Bitnotes</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'viewer', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <script src="http://cdn.howcode.org/content/static/javascript/jquery.cookie.js"></script> 
  <style type="text/css">
    .goog-te-banner-frame.skiptranslate{display:none!important;}
    body{top:0px!important;}
  </style>
<!-- fonts -->
<link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<!-- //fonts -->
<%= render "shared/fb" %>
</head>
<body>
	<%= render "shared/formnavigation" %>
<%= yield %>
	<%= render "shared/formfooter" %>

</body>
</html>
